
.vs/HelloSFML/v15/Browse.VC.db
.vs/HelloSFML/v15/Browse.VC.opendb
.vs/HelloSFML/v15/ipch/8b1798cebd8df168.ipch
.vs/HelloSFML/v15/Browse.VC.db
.vs/HelloSFML/v15/Browse.VC.db
.vs/HelloSFML/v15/Browse.VC.db
*.db
*.db
